### Importando e analisando a Tabela

In [56]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv('C:/Users/Suporte/Documents/Python_Projects/csv/Casos_Covid.csv')

In [58]:
df.head()

  regiao;estado;data;casosNovos;casosAcumulados;obitosNovos;obitosAcumulados
0                        Norte;RO;2020-01-30;0;0;0;0
1                        Norte;RO;2020-01-31;0;0;0;0
2                        Norte;RO;2020-02-01;0;0;0;0
3                        Norte;RO;2020-02-02;0;0;0;0
4                        Norte;RO;2020-02-03;0;0;0;0

### Convertendo os dados via Excel e alterando o formato do arquivo

In [59]:
df = pd.read_excel('C:/Users/Suporte/Desktop/Teste.xlsx')

In [60]:
df.head(10)

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,2020-01-30,0,0,0,0
1,Norte,RO,2020-01-31,0,0,0,0
2,Norte,RO,2020-02-01,0,0,0,0
3,Norte,RO,2020-02-02,0,0,0,0
4,Norte,RO,2020-02-03,0,0,0,0
5,Norte,RO,2020-02-04,0,0,0,0
6,Norte,RO,2020-02-05,0,0,0,0
7,Norte,RO,2020-02-06,0,0,0,0
8,Norte,RO,2020-02-07,0,0,0,0
9,Norte,RO,2020-02-08,0,0,0,0

### Contando os Novos Casos por Região

In [61]:
maior = df[(df['casosNovos']) > 1]

In [62]:
maior.groupby('regiao').agg({'casosNovos' : 'count'})

              casosNovos
regiao
Centro-Oeste         147
Nordeste             278
Norte                182
Sudeste              175
Sul                  123

### Fazendo a média de Novos Casos por Região

In [63]:
maior.groupby('regiao').agg({'casosNovos' : 'mean'})

              casosNovos
regiao
Centro-Oeste   13.421769
Nordeste       58.485612
Norte          37.637363
Sudeste       170.851429
Sul            27.975610

### Analisando os Novos Óbitos

#### Total de Óbitos Novos por Estado

In [109]:
df.groupby('estado').agg({'obitosNovos' : 'sum'})

        obitosNovos
estado
AC               11
AL               29
AM              287
AP               19
BA               70
CE              310
DF               26
ES               47
GO               25
MA              100
MG               58
MS                7
MT                9
PA               86
PB               46
PE              381
PI               17
PR               69
RJ              615
RN               40
RO                7
RR                3
RS               34
SC               42
SE                9
SP             1667
TO                2

#### O Estado que mais teve Óbitos foi São Paulo

In [112]:
m2 = df.groupby('estado').agg({'obitosNovos' : 'sum'})

In [113]:
m2.max()

obitosNovos    1667
dtype: int64

#### O Estado que menos teve Óbitos foi Tocantisns

In [115]:
m1 = df.groupby('estado').agg({'obitosNovos' : 'sum'})

In [117]:
m1.min()

obitosNovos    2
dtype: int64


#### Total de Óbitos Novos

In [96]:
df['obitosNovos'].max()

211

#### Total de Óbitos Novos por Estados

In [99]:
df.groupby('estado').agg({'obitosNovos':'sum'})

        obitosNovos
estado
AC               11
AL               29
AM              287
AP               19
BA               70
CE              310
DF               26
ES               47
GO               25
MA              100
MG               58
MS                7
MT                9
PA               86
PB               46
PE              381
PI               17
PR               69
RJ              615
RN               40
RO                7
RR                3
RS               34
SC               42
SE                9
SP             1667
TO                2

#### Média de Óbitos Novos

In [93]:
df['obitosNovos'].mean()

1.7096636866751809

#### As 5 Regiões com Maiores Casos Novos - (opção 1)

In [133]:
casosnovos = df.nlargest(5, 'casosNovos')

In [134]:
casosnovos.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
1739,Sudeste,SP,2020-04-25,2178,20004,155,1667
1729,Sudeste,SP,2020-04-15,1672,11043,83,778
1731,Sudeste,SP,2020-04-17,1273,12841,75,928
1738,Sudeste,SP,2020-04-24,1086,17826,167,1512
1732,Sudeste,SP,2020-04-18,1053,13894,63,991

#### As 5 Regiões com Maiores Casos Novos - (opção 2)

In [156]:
ordem = df.sort_values(by='casosNovos', ascending=False)

In [157]:
ordem.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
1739,Sudeste,SP,2020-04-25,2178,20004,155,1667
1729,Sudeste,SP,2020-04-15,1672,11043,83,778
1731,Sudeste,SP,2020-04-17,1273,12841,75,928
1738,Sudeste,SP,2020-04-24,1086,17826,167,1512
1732,Sudeste,SP,2020-04-18,1053,13894,63,991

#### As 5 Regiões com Menores Casos Novos

In [158]:
casosnovos = df.nsmallest(5, 'casosNovos')

In [159]:
casosnovos.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,2020-01-30,0,0,0,0
1,Norte,RO,2020-01-31,0,0,0,0
2,Norte,RO,2020-02-01,0,0,0,0
3,Norte,RO,2020-02-02,0,0,0,0
4,Norte,RO,2020-02-03,0,0,0,0

#### Listando os Óbitos Novos entre 100 e 200

In [165]:
obitos = df[(df.obitosNovos > 99) & (df.obitosNovos < 201)]

In [166]:
obitos.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
1738,Sudeste,SP,2020-04-24,1086,17826,167,1512
1739,Sudeste,SP,2020-04-25,2178,20004,155,1667

#### Deixando Somente as 3 Colunas

In [182]:
col3 = df.filter(items=['regiao', 'estado', 'data'])

In [183]:
col3.head()

  regiao estado       data
0  Norte     RO 2020-01-30
1  Norte     RO 2020-01-31
2  Norte     RO 2020-02-01
3  Norte     RO 2020-02-02
4  Norte     RO 2020-02-03